html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.index a:link{
    font-size: 20px;
	text-decoration: none;
    color: white;
}


.index a:visited{
    text-decoration: none;
    color: white;
}
.index a:hover{
    color:yellow;
}

.index{
	overflow: scroll;
}


nav{
  background: black;
  color: white;
  height:56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 2;
}

.container {
  display: flex;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 56px;
}

.main {
  width: 100%;
  margin-top:56px;
  transition: margin-left .5s;
}	

.title {
	
}

.note-editing-area {
	min-height: 500px;
}

.title-input {
  border: 0;
  outline: 0;
  border-bottom: 2px solid black;
  padding:5px;
  min-width:55%;
display:inline;
}

.small-inputs {
  border: 0;
  outline: 0;
  border-bottom: 2px solid black;
  padding:5px;
  min-width:42%;
  display:inline;
}


.filter {
  border: 0;
  outline: 0;
  border-bottom: 2px solid black;
  padding:5px;
  min-width:95vh;
}

.s2 {
	margin-left: 20px;
	font-size: 15px;
	text-align: left;
	border: none;
	background-color: transparent;
}

.red { color: blue}
.selected { 
background-color : yellow !important;
color: black;}

.s1 {
	font-size: 15px;
	text-align: left;
	border: none;
	background-color: transparent;
}

.s3 {
	background-color: transparent;
	margin-left: 40px;
	font-size: 15px;
	text-align: left;
	border: none;
}

.s4 {
	background-color: transparent;
	margin-left: 60px;
	font-size: 15px;
	text-align: left;
	border: none;
}

.cat {
	background-color: white;
	color: black;
	font-size: 12px;
	padding-left: 1px;
}

.sidebar .closebtn {
  position: absolute;
  top: 76px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: white;
  text-decoration:none;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}


.sn-checkbox-open-in-new-window {
	display:none;
}

.wrap-table {
	margin-top:15px;
}
.sidebar .closebtn1 {
  position: absolute;
  top: 58px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: white;
  text-decoration:none;
}

pre {
	color: brown;
	font-size: 16px;
}

nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav a.active {
  background-color: #04AA6D;
  color: white;
}